<header>
  <h1 class="text-center">RecruitMIAGE - Inscription</h1>
</header>

<main class="container">
  <form (ngSubmit)="onRegister()" novalidate class="mt-4">
    <div class="mb-3">
      <label for="Nom" class="form-label">Nom :</label>
      <input type="text" id="Nom" class="form-control" placeholder="Entrez votre nom" [(ngModel)]="Nom" name="Nom" required>
    </div>

    <div class="mb-3">
      <label for="Prenom" class="form-label">Prénom :</label>
      <input type="text" id="Prenom" class="form-control" placeholder="Entrez votre prénom" [(ngModel)]="Prenom" name="Prenom" required>
    </div>

    <div class="mb-3">
      <label for="Mail" class="form-label">Email :</label>
      <input type="email" id="Mail" class="form-control" placeholder="Entrez votre email" [(ngModel)]="Mail" name="Mail" required>
    </div>

    <div class="mb-3">
      <label for="Motdepasse" class="form-label">Mot de passe :</label>
      <input type="password" id="Motdepasse" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)]="Motdepasse" name="Motdepasse" required>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmer le mot de passe :</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmez votre mot de passe" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">S'inscrire</button>
    <button type="button" routerLink="/" class="btn btn-secondary ms-2">Retour à la connexion</button>
  </form>
</main>
