<header>
    <h1>RecruitMIAGE</h1>
  </header>
  <main>
    <section>
      <h2>Nouveau Projet</h2>
      <input type="text" placeholder="Nom du projet">
      <br>
      <label for="image">Upload Image :</label>
      <input type="file" id="image">
      <button type="button">Choisir...</button>
      <br>
      <button type="button">Create</button>
    </section>
    <section>
      <h2>Projects</h2>
      <input type="text" placeholder="Rechercher un projet">
      <ul>
        <li>Projet A</li>
        <li>Projet B</li>
        <li>Projet C</li>
      </ul>
    </section>
  </main>