<!-- src/app/dashboard-projects/dashboard-projects.component.html -->

<div>
  <!-- 📋 Formulaire pour créer un nouveau projet -->
  <h2>Créer un nouveau projet</h2>
  <form (ngSubmit)="createProjet()">
    <label>Nom du projet :</label>
    <input [(ngModel)]="nouveauProjet.nomProjet" name="nomProjet" required>
    <br>
    <label>Description :</label>
    <textarea [(ngModel)]="nouveauProjet.description" name="description"></textarea>
    <br>
    <button type="submit" [disabled]="!nouveauProjet.nomProjet">Créer</button>
  </form>
 
 
  </div>
</div>