<header>
  <h1 class="text-center">RecruitMIAGE</h1>
</header>
<main class="container">
  <form (ngSubmit)="onLogin()" novalidate class="mt-4">
    <div class="mb-3">
      <label for="email" class="form-label">Email :</label>
      <input type="email" id="email" class="form-control" placeholder="Entrez votre email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe :</label>
      <input type="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Connect</button>
    <button type="button" routerLink="/register" class="btn btn-secondary ms-2">Register</button>
    <br>
    <a href="#" class="d-block mt-2">Forgot Password</a>
  </form>
</main>