<header>
    <h1>RecruitMIAGE - Inscription</h1>
  </header>
  <main>
    <form>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" placeholder="Entrez votre nom" required> <!-- type="text" -->
      <br>
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" placeholder="Entrez votre prénom" required> <!-- type="text" -->
      <br>
      <label for="email">Email :</label>
      <input type="email" id="email" placeholder="Entrez votre email" required>
      <br>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" placeholder="Entrez votre mot de passe" required>
      <br>
      <label for="confirm-password">Confirmer le mot de passe :</label>
      <input type="password" id="confirm-password" placeholder="Confirmez votre mot de passe" required>
      <br>
      <button type="submit">S'inscrire</button>
      <button type="button" routerLink="/">Retour à la connexion</button>
    </form>
  </main>